# Flask para la API
Flask==3.0.3
flask-cors
flask-socketio

# Redis para almacenamiento de sesiones
redis==5.0.0
rq

# Langchain para integración con LLMs
langchain
langchain-community
langchain-openai
langchain-deepseek

# OpenAI API para los modelos GPT (puedes ajustarlo si usas otro proveedor de LLMs)
openai

# Requests para manejar solicitudes HTTP a otras APIs (como OpenAI)
requests

# Python-dotenv para manejar variables de entorno (como claves API)
python-dotenv==1.0.0

# Pytest para pruebas
pytest==7.4.0

# Gunicorn para producción (manejar Flask en un servidor WSGI)
gunicorn==23.0.0
eventlet==0.38.2  # Optional: for WebSocket support

# Si usas Celery para procesamiento asíncrono (opcional)
celery==5.3.4

# Gemini
google-generativeai
langchain-google-genai

pandas


